.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  height: 70vh;
}

.calculator__container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "result result result result"
    "clear negative rest divide"
    "seven eight nine multiplyNum"
    "four five six subtract"
    "one two three add"
    "cero cero comma total";
  border: 1px solid var(--second-color);
}

.result {
  grid-area: result;
  background-color: var(--second-color);
  color: #fff;
  text-align: end;
  font-size: 20px;
  padding: 4px;
}

.clear {
  grid-area: clear;
  background-color: var(--first-color);
}

.negative {
  grid-area: negative;
  background-color: var(--first-color);
}

.rest {
  grid-area: rest;
  background-color: var(--first-color);
}

.divide {
  grid-area: divide;
  background-color: var(--third-color);
}

.seven {
  grid-area: seven;
  background-color: var(--first-color);
}

.eight {
  grid-area: eight;
  background-color: var(--first-color);
}

.nine {
  grid-area: nine;
  background-color: var(--first-color);
}

.multipyNum {
  grid-area: multiplyNum;
  background-color: var(--third-color);
}

.four {
  grid-area: four;
  background-color: var(--first-color);
}

.five {
  grid-area: five;
  background-color: var(--first-color);
}

.six {
  grid-area: six;
  background-color: var(--first-color);
}

.subtract {
  grid-area: subtract;
  background-color: var(--third-color);
}

.one {
  grid-area: one;
  background-color: var(--first-color);
}

.two {
  grid-area: two;
  background-color: var(--first-color);
}

.three {
  grid-area: three;
  background-color: var(--first-color);
}

.add {
  grid-area: add;
  background-color: var(--third-color);
}

.cero {
  grid-area: cero;
  background-color: var(--first-color);
}

.comma {
  grid-area: comma;
  background-color: var(--first-color);
}

.total {
  grid-area: total;
  background-color: var(--third-color);
}

.calculator__item {
  cursor: pointer;
  border: 1px solid var(--second-color);
  text-align: center;
  padding: 6px;
  font-size: 18px;
}

.gray:hover {
  background-color: #adadad;
}

.orange:hover {
  background-color: #e0720a;
}
