@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --first-color: #d3d3d3;
  --second-color: #818181;
  --third-color: #ff9431;
  --primary-color: #155263;
  --secondary-color: #ff6f3c;
  --tertiary-color: #ff9a3c;
  --quaternary-color: #ffc93c;
}
